(
    style_sets: {
        "slider_track": (
            shape: RoundedRect(Dip(2)),
            styles: [
                (
                    state_filter: (
                        value: (
                            bits: 0,
                        ),
                        mask: (
                            bits: 0,
                        ),
                    ),
                    fill: Some(SolidColor(Palette(
                        index: 0,
                    ))),
                    borders: [
                        (
                            opacity: 1,
                            blend_mode: Normal,
                            position: Inside(Dip(0)),
                            width: Dip(1),
                            brush: SolidColor(Palette(
                                index: 9,
                            )),
                        ),
                        (
                            opacity: 1,
                            blend_mode: Normal,
                            position: Outside(Dip(0)),
                            width: Dip(1),
                            brush: Gradient(
                                angle: (
                                    radians: 1.5707963267948966,
                                ),
                                ty: Linear,
                                stops: [
                                    (0, Palette(
                                        index: 11,
                                    )),
                                    (0.3, Palette(
                                        index: 12,
                                    )),
                                ],
                                reverse: false,
                            ),
                        ),
                    ],
                    inner_shadow: None,
                    drop_shadow: None,
                    inner_glow: None,
                    outer_glow: None,
                ),
            ],
        ),
        "slider_knob": (
            shape: Path("M 0.5 0.5 L 10.5 0.5 L 10.5 5.5 L 5.5 10.5 L 0.5 5.5 Z"),
            styles: [
                (
                    state_filter: (
                        value: (
                            bits: 0,
                        ),
                        mask: (
                            bits: 0,
                        ),
                    ),
                    fill: Some(Gradient(
                        angle: (
                            radians: 1.5707963267948966,
                        ),
                        ty: Linear,
                        stops: [
                            (0, Palette(
                                index: 6,
                            )),
                            (1, Palette(
                                index: 5,
                            )),
                        ],
                        reverse: false,
                    )),
                    borders: [
                        (
                            opacity: 1,
                            blend_mode: Normal,
                            position: Inside(Dip(0)),
                            width: Dip(1),
                            brush: SolidColor(Palette(
                                index: 9,
                            )),
                        ),
                    ],
                    inner_shadow: None,
                    drop_shadow: None,
                    inner_glow: None,
                    outer_glow: None,
                ),
                (
                    state_filter: (
                        value: (
                            bits: 4,
                        ),
                        mask: (
                            bits: 4,
                        ),
                    ),
                    fill: Some(Gradient(
                        angle: (
                            radians: 1.5707963267948966,
                        ),
                        ty: Linear,
                        stops: [
                            (0, Palette(
                                index: 8,
                            )),
                            (1, Palette(
                                index: 7,
                            )),
                        ],
                        reverse: false,
                    )),
                    borders: [],
                    inner_shadow: None,
                    drop_shadow: None,
                    inner_glow: None,
                    outer_glow: None,
                ),
            ],
        ),
        "button": (
            shape: RoundedRect(Dip(2)),
            styles: [
                (
                    state_filter: (
                        value: (
                            bits: 0,
                        ),
                        mask: (
                            bits: 0,
                        ),
                    ),
                    fill: Some(Gradient(
                        angle: (
                            radians: 1.5707963267948966,
                        ),
                        ty: Linear,
                        stops: [
                            (0, Palette(
                                index: 6,
                            )),
                            (1, Palette(
                                index: 5,
                            )),
                        ],
                        reverse: false,
                    )),
                    borders: [
                        (
                            opacity: 1,
                            blend_mode: Normal,
                            position: Inside(Dip(0)),
                            width: Dip(1),
                            brush: SolidColor(Palette(
                                index: 9,
                            )),
                        ),
                        (
                            opacity: 1,
                            blend_mode: Normal,
                            position: Outside(Dip(0)),
                            width: Dip(1),
                            brush: Gradient(
                                angle: (
                                    radians: 1.5707963267948966,
                                ),
                                ty: Linear,
                                stops: [
                                    (0, Palette(
                                        index: 11,
                                    )),
                                    (0.3, Palette(
                                        index: 12,
                                    )),
                                ],
                                reverse: false,
                            ),
                        ),
                    ],
                    inner_shadow: None,
                    drop_shadow: None,
                    inner_glow: None,
                    outer_glow: None,
                ),
                (
                    state_filter: (
                        value: (
                            bits: 4,
                        ),
                        mask: (
                            bits: 4,
                        ),
                    ),
                    fill: Some(Gradient(
                        angle: (
                            radians: 1.5707963267948966,
                        ),
                        ty: Linear,
                        stops: [
                            (0, Palette(
                                index: 8,
                            )),
                            (1, Palette(
                                index: 7,
                            )),
                        ],
                        reverse: false,
                    )),
                    borders: [],
                    inner_shadow: None,
                    drop_shadow: None,
                    inner_glow: None,
                    outer_glow: None,
                ),
            ],
        ),
        "text_box": (
            shape: Rect,
            styles: [
                (
                    state_filter: (
                        value: (
                            bits: 0,
                        ),
                        mask: (
                            bits: 0,
                        ),
                    ),
                    fill: Some(SolidColor(Palette(
                        index: 0,
                    ))),
                    borders: [
                        (
                            opacity: 1,
                            blend_mode: Normal,
                            position: Inside(Dip(0)),
                            width: Dip(1),
                            brush: SolidColor(Palette(
                                index: 9,
                            )),
                        ),
                        (
                            opacity: 1,
                            blend_mode: Normal,
                            position: Outside(Dip(0)),
                            width: Dip(1),
                            brush: Gradient(
                                angle: (
                                    radians: 1.5707963267948966,
                                ),
                                ty: Linear,
                                stops: [
                                    (0, Palette(
                                        index: 11,
                                    )),
                                    (0.3, Palette(
                                        index: 12,
                                    )),
                                ],
                                reverse: false,
                            ),
                        ),
                    ],
                    inner_shadow: None,
                    drop_shadow: None,
                    inner_glow: None,
                    outer_glow: None,
                ),
                (
                    state_filter: (
                        value: (
                            bits: 4,
                        ),
                        mask: (
                            bits: 4,
                        ),
                    ),
                    fill: Some(SolidColor(Palette(
                        index: 0,
                    ))),
                    borders: [],
                    inner_shadow: None,
                    drop_shadow: None,
                    inner_glow: None,
                    outer_glow: None,
                ),
            ],
        ),
    },
    palettes: [
        ([
            (0.227, 0.227, 0.227, 1),
            (0.326, 0.326, 0.326, 1),
            (0.424, 0.424, 0.424, 1),
            (0.6, 0.6, 0.9, 1),
            (0.13, 0.13, 0.13, 1),
            (0.45, 0.45, 0.45, 1),
            (0.4, 0.4, 0.4, 1),
            (0.5, 0.5, 0.5, 1),
            (0.45, 0.45, 0.45, 1),
            (0.1, 0.1, 0.1, 1),
            (0.18, 0.18, 0.18, 1),
            (1, 1, 1, 0.2),
            (1, 1, 1, 0),
            (0.18, 0.18, 0.18, 1),
        ]),
    ],
)